@tailwind base;
@tailwind components;
@tailwind utilities;

$radius: 0.75rem;

@font-face {
    font-family: vazir;
    src: url('../fonts/vazir.ttf');
}

html, body {
    direction: rtl;
    text-align: right;
}

* {
    font-family: vazir, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.rounded-st {
    border-radius: $radius;
}

.search {
    input {
        @apply h-full px-2 py-2 bg-gray-200;
        transition: all ease .4s;
        border-radius: 0 $radius $radius 0;
        &:focus-visible {
            outline: none;
        }
    }
    button {
        @apply h-full px-2 py-2 bg-gray-200 text-black;
        transition: all ease .2s;
        border-radius: $radius 0 0 $radius;
        &:hover {
            @apply bg-pink-500 text-white;
        }
    }
}

.icon-for-btn {
    @apply h-4 w-4 ml-1;
}

/* Menu bar */
#menu-toggle {
    &:focus, &:focus-within, &:focus-visible {
        + #menu {
            visibility: visible;
            opacity: 1;
        }
    }
}
#menu {
    &:focus, &:focus-within, &:focus-visible {
        visibility: visible;
        opacity: 1;
    }
}

@layer utilities {
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    @for $i from 1 to 13 {
        .col-#{$i} {
            width: ($i / 12) * 100%;
        }
    }
}

.music-swiper {
    overflow-x: hidden;
    .swiper-wrapper {
        display: inline-flex;
        flex-direction: row;
        .music-swiper-box {
            border-radius: $radius;
            text-align: center;
            display: flex;
            flex-direction: column;
            @apply mx-4 my-3;
            @apply p-3 bg-white shadow-md w-56 h-96;
            img {
                border-radius: $radius;
                aspect-ratio: 1/1;
                width: 100%;
                @apply mb-2;
            }
        }
    }
}

/* Buttons */
.btn-primary {
    transform: scale(1);
    @apply text-white transition-all py-3 px-4 bg-pink-500 hover:bg-pink-600 rounded-st flex items-center justify-center;
    &:active {
        transform: scale(.95);
    }
}
.btn-secondary {
    border: 1px solid;
    transform: scale(1);
    @apply transition-all py-3 px-4 border-pink-500 text-pink-500 hover:text-white hover:bg-pink-500 rounded-st flex items-center justify-center;
    &:active {
        transform: scale(.95);
    }
}

/* Break p */
.break-p {
    letter-spacing: 0.5rem;
}

/* Score */
.score {
    @apply flex justify-center;
    .score-star {
        @apply fill-gray-400;
        cursor: pointer;
        &.fill {
            @apply fill-pink-500;
        }
        &.target {
            @apply fill-yellow-400;
            filter: drop-shadow(0 5px 10px rgba(248, 251, 40, 0.567))
        }
    }
}
